{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Maps</h1>
    </header>
    <main>
        <article>
            <img src="{% static 'heroMap.png' %}" alt="">
            <div>
                <h2>Map Feature</h2>
                <form method="get" action="http://127.0.0.1:8000/maps/mapfeature/">
                    <input type="submit" value="Acessar">
                </form>

            </div>
        </article>
    </main>
</body>
</html>