#map{
  width: 100vw;
  height: 100vh;
}

.base-layout{
  position: absolute;
  z-index: 1;
  padding: 10px;
  background-color: #785eeb;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(48, 48, 48, 0.3);
  border: none;
  color: white;
  font-size: 1.25rem;
}

.add-feature{
  top: 15px;
  left: 15px;
  cursor: pointer;
}

.delete-feature{
  top: 15px;
  left: 95px;
  cursor: pointer;
}

.list-inputs{
  list-style: none;
  top: 95px;
  left: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.list-inputs input{
  background-color: #785eeb00;
  color: white;
  padding: 5px;
  width: 100%;
  text-align: start;
  border: none;
  border-bottom: solid 1px #9e8dec;
  cursor: pointer;
}
.notice{
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}